# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [1]:
data={}
type(data)

dict

In [2]:
data1=dict()
type(data1)

dict

In [3]:
data={'Alabama':'Montgomery',
     'Arizona': 'Pheonix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio': 'Salem'}

In [4]:
type(data)

dict

In [5]:
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Salem'}

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [31]:
data={'Alabama':'Montgomery',
     'Arizona': 'Pheonix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio': 'Salem'}

In [7]:
data['Kentucky']

'Frankfort'

In [8]:
data['Alabama']

'Montgomery'

In [9]:
data['Louisiana']

KeyError: 'Louisiana'

### Update elements of a dictionary and add new elements

In [10]:
day={1: 'Monday',
    2: 'Tuesday',
    4:['Thursday','Friday'],
    5: ('Saturday', 'Sunday')}

In [11]:
day[1]

'Monday'

In [12]:
day[4][1]

'Friday'

In [13]:
day[5][0]

'Saturday'

### `get` and `update` methods

In [14]:
day[5][1]='holiday' # cannot update tuple

TypeError: 'tuple' object does not support item assignment

In [15]:
day[4][0]='holiday'
day

{1: 'Monday',
 2: 'Tuesday',
 4: ['holiday', 'Friday'],
 5: ('Saturday', 'Sunday')}

In [16]:
day[1]='holiday'
day

{1: 'holiday',
 2: 'Tuesday',
 4: ['holiday', 'Friday'],
 5: ('Saturday', 'Sunday')}

### `get` and `update` methods

### Delete dictionary items using `del` and `pop`

In [32]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [33]:
data.get('Arizona')

'Pheonix'

In [34]:
data.get('Louisiana')

In [35]:
print(data)
data.update({'Kentucky':'Louisville', 'Louisiana' : 'Baton Rouge'})

{'Alabama': 'Montgomery', 'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Salem'}

In [36]:
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Ohio': 'Salem', 'Louisiana': 'Baton Rouge'}

In [37]:
data.update({'alabama':'Montgomery'}) # only way to update key
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Ohio': 'Salem', 'Louisiana': 'Baton Rouge', 'alabama': 'Montgomery'}

#### Delete dictionary items using `del` and `pop`

In [38]:
data
del data['Alabama']

In [39]:
data

{'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Salem',
 'Louisiana': 'Baton Rouge',
 'alabama': 'Montgomery'}

In [40]:
del data['Ohio']
data

{'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Louisiana': 'Baton Rouge',
 'alabama': 'Montgomery'}

In [41]:
deleted_state=data.pop('Arizona')
print("Deleted state", deleted_state)

Deleted state Pheonix

In [42]:
data

{'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Louisiana': 'Baton Rouge',
 'alabama': 'Montgomery'}

In [43]:
# Delete Montgomery
deleted_capitol=data.pop('alabama')
print(deleted_capitol)
print(data)

Montgomery
{'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Louisiana': 'Baton Rouge'}

In [44]:
del data

In [45]:
data

NameError: name 'data' is not defined

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [46]:
data={'Alabama':'Montgomery',
     'Arizona': 'Pheonix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio': 'Salem'} #key:value

In [47]:
len (data)

5

In [48]:
print(data.keys())

dict_keys(['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio'])

In [50]:
print(data.values())

dict_values(['Montgomery', 'Pheonix', 'Atlanta', 'Frankfort', 'Salem'])

In [52]:
print(data.items())
type(data.items())
#item / key pair

dict_items([('Alabama', 'Montgomery'), ('Arizona', 'Pheonix'), ('Georgia', 'Atlanta'), ('Kentucky', 'Frankfort'), ('Ohio', 'Salem')])

dict_items

### Loop through a dictionary

In [53]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [54]:
for i in data.keys():
    print(i)
    print(type(i))

Alabama
<class 'str'>
Arizona
<class 'str'>
Georgia
<class 'str'>
Kentucky
<class 'str'>
Ohio
<class 'str'>

In [56]:
for j in data.values():
    print("the capitiol is: ",j)

the capitiol is:  Montgomery
the capitiol is:  Pheonix
the capitiol is:  Atlanta
the capitiol is:  Frankfort
the capitiol is:  Salem

In [57]:
for k in data.items():
    print(k)
    print(type(k))

('Alabama', 'Montgomery')
<class 'tuple'>
('Arizona', 'Pheonix')
<class 'tuple'>
('Georgia', 'Atlanta')
<class 'tuple'>
('Kentucky', 'Frankfort')
<class 'tuple'>
('Ohio', 'Salem')
<class 'tuple'>

In [58]:
for i, j in data.items():
    print("State: ",i, "Capitol: ", j)
    print(type(i), type(j))

State:  Alabama Capitol:  Montgomery
<class 'str'> <class 'str'>
State:  Arizona Capitol:  Pheonix
<class 'str'> <class 'str'>
State:  Georgia Capitol:  Atlanta
<class 'str'> <class 'str'>
State:  Kentucky Capitol:  Frankfort
<class 'str'> <class 'str'>
State:  Ohio Capitol:  Salem
<class 'str'> <class 'str'>

### Convert dictionary to lists using `list()` function

In [59]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [62]:
list(data.values())

['Montgomery', 'Pheonix', 'Atlanta', 'Frankfort', 'Salem']

In [63]:
tuple(data.keys())

('Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio')

### A List in a Dictionary

In [68]:
favorite_language={
    'Jen': ['Python', 'ruby'],
    'sarah':['C'],
    'edward':['ruby','Java'],
    'Phil':['Python','Haskell']   
}

In [70]:
for name, languages in favorite_language.items():
    print("\n"+name.title()+"\'s favourite languages are: ")
    #print(languages)
    for i in languages:
        print("\t\t\t"+i.title())

Jen's favourite languages are:
			Python
			Ruby

Sarah's favourite languages are:
			C

Edward's favourite languages are:
			Ruby
			Java

Phil's favourite languages are:
			Python
			Haskell

###  A Dictionary in a Dictionary

In [71]:
user={
    "einstien" :{
        "first": "albert",
        "last": "eistien",
        "location": "prinston"
    },
    "curie":{
        "first": "marie",
        "last": "curie",
        "location": "paris"
    }
}

In [72]:
user

{'einstien': {'first': 'albert', 'last': 'eistien', 'location': 'prinston'},
 'curie': {'first': 'marie', 'last': 'curie', 'location': 'paris'}}

In [75]:
for user_name,user_info in user.items():
    print("\nUser Name: ", user_name)
    fullname=user_info['first']+" "+user_info['last']
    location=user_info['location']
    
    print("The full name is: "+ fullname.title())
    print("The location: ",location.title())

User Name:  einstien
The full name is: Albert Eistien
The location:  Prinston

User Name:  curie
The full name is: Marie Curie
The location:  Paris